@import "primeicons/primeicons.css";
@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primary-color: #7254f3;
    --dark-color: #262335;
    --light-color: #fff;
}

*{
    font-family: "Lato";
}

.container{
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}