

<nav>
    <div class="nav-container">
        <div class="nav-left-side" routerLink="/">
            <i class="pi pi-book"></i>
            <h1>Interview Series</h1>
        </div>
        <div class="nav-right-side">
            <p-button styleClass="nav-button" label="Dashboard" routerLink="/dashboard"></p-button>
            <p-button [outlined]="true" (click)="logout()" routerLink="/login"><i class="pi pi-sign-out" style="font-size: 1.2rem"></i>Log Out</p-button>
        
          </div>
          
    </div>
</nav>