section {
    
    margin-top: 70px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    min-height: 100vh;


  }
  
  .lock {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.133);
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    
  }
  
  .lock i {
    color: var(--primary-color);
  }
  
  .pi-unlock {
    font-size: 64px;
  }
  
  label {
    margin-top: 2rem;
    color: var(--dark-color);
    font-weight: 600;
  }
  
  .interview-container {
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  h1 {
    color: var(--primary-color);
    font-size: 28px;
  }
  
  .interview-price {
    font-size: 20px;
    color: var(--gray-color);
  }
  
  .interview-typography {
    max-width: 1500px;
    width: 100%;
  }
  
  .interview-typography p {
    line-height: 1.8;
  }
  
  .interview-questions {
    margin-top: 2rem;
  }
  
  .interview-questions div {
    padding: 0.5rem;
  }

  .interview-unlock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
  

  /* Media Queries */

/* Small desktops */
@media (min-width: 1000px) and (max-width: 1439px) {
  .interview-container, .interview-typography{
      max-width: 1100px;
      padding-left: 1rem;
      
  }
}

/*  Landscape Tablets */
@media (min-width: 768px) and (max-width: 999px) {
  .interview-container, .interview-typography{
    max-width: 750px;
    padding-left: 1rem;
    
}

}

/* Small devices (phones) */
@media (max-width: 767px) {
  .interview-container, .interview-typography{
    max-width: 600px;
    padding-left: 1rem;
    
}
}