<section *ngIf="interviewData">
    <div class="lock" *ngIf="!isLockDisplayed()">
        <div class="interview-unlock" (click)="handleUnlockClick()">
            <i class="pi pi-unlock"></i>
            <label for="Unlock">Purchase Interview to View</label>

        </div>

    </div>
    <div class="interview-container">
        <div class="interview-typography">
            <h1>{{ interviewData.title }}</h1>
            <p class="interview-price">{{ interviewData.price | currency:'USD':'symbol':'1.2-2' }}</p>
            <p>{{ interviewData.description }}</p>

            <div class="interview-questions">
                <div *ngFor="let question of interviewData.questions; let i = index">
                    <p-divider align="left"><b>Question {{ i + 1 }}</b></p-divider>
                    <p>{{ question }}</p>
                </div>
            </div>
        </div>
    </div>
</section>