

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    
   
    
    
}
section h3{
    color: var(--dark-color);
}
.login-right-side img{
    
    width: 100%;
    object-fit: cover;
  

}
.login-left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.login-left-side,
.login-right-side {
  flex: 1; 

 
 
}

.login-input{
    width: 300px;
    
}
.login-logo {
    display: flex;
    align-items: center;
   
    margin-bottom: 12px;
}
.login-logo h1{
    font-family: 'Lato';
    letter-spacing: 2.4px;
    font-weight: 800;
    margin-left: 12px;
    font-size: 24px;
    color: var(--dark-color);
}
.login-logo i {
    color: var(--primary-color);
    font-size: 18px;


}
