
main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
    min-height: 100vh;
    
    
}
main h1{
    color: var(--primary-color);
}


.interviews{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    max-width: 1500px;
  
    
    
    
}
.interview{
    margin-bottom: 8rem;
    
    width: 100%;
    height: 300px;  
    width: 360px;
    
    
    

    
}
.p-button{
    border-color: none;
    box-shadow: none;
}
.p-button:active , .p-button:focus{
    outline: none;
    box-shadow: none;
    border-color: none;
   
}
.banner-wrapper{
    width: 100%;
    
    
    position: relative;
    height: 700px;
    background: linear-gradient(to bottom, #7254f3, #7b60f4, #8c74f8 );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
   
}
.banner-wrapper h1{
    color: white;
   
}
main img{
    
   object-fit: cover;
    width: 1000px;
    
    height: 500px;
    margin-top: 1rem;
   
}

/* Media Queries */

/* Small desktops */
@media (min-width: 1000px) and (max-width: 1439px) {
    .interviews{
        max-width: 1000px;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 1rem;
    }
}
/*  Landscape Tablets */
@media (min-width: 768px) and (max-width: 999px) {
    .interviews{
        max-width: 750px;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 1rem;
    }
    main img{
        width: 750px;
    }
    
}
/* Small devices (phones) */
@media (max-width: 767px) {
    .interviews{
        text-align: center;
        max-width: 600px;
        grid-template-columns: repeat(1, 1fr);
        
    }
    h1{
        text-align: center;
    }
    main img{
        max-width: 650px;
        width: 100%;
    }
  
}
/* Extra small devices (phones) */
@media (max-width: 476px) {
    main img{
        max-width: 250px;
        height: 300px;
        width: 100%;
    }
}




