
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
    
    
}
main h1{
    color: var(--primary-color);
}


.interviews{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    max-width: 1500px;
  
    
    
    
}
.interview{
    margin: 12px 0;
    
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}
.p-button{
    border-color: none;
    box-shadow: none;
}
.p-button:active , .p-button:focus{
    outline: none;
    box-shadow: none;
    border-color: none;
   
}
.banner-wrapper{
    width: 100%;
    
    
    position: relative;
    height: 700px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
   
}
.banner-wrapper h1{
    color: white;
   
}
main img{
    
   object-fit: cover;
    width: 1000px;
    
    height: 500px;
    margin-top: 1rem;
   
}


