section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 200vh;
    margin-top: 70px;
    
}
.dashboard-content{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    
   
}
.dashboard-charts-wrapper{
    background: linear-gradient(to bottom, #7254f3, #7b60f4, #8c74f8 );
    width: 100%;
    padding: 4rem;
   
}
.dashboard-charts-wrapper h1{
    color: white;
}

.dashboard-charts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}
.chart-container {
    width: 600px; 
    height: 400px;
    margin-right: 1rem;
}
.circle{
    width: 300px;
   
}
p-button i{
    margin-right: 1rem;
}
p-button{
    margin-bottom : 3rem;
}
h1{
    color: var(--dark-color);
    font-size: 32px;
   
}

.slider{
    width: 100%;
  
}

.create-interview{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    max-width: 1500px;

}
.create-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.create-interview-inputs{
    align-self: flex-start;
    max-width: 1500px;
    width: 100%;
}

.create-interview-inputs p-inputGroup{
    margin-top: 1rem;
    max-width: 300px;
    width: 100%;
}
.p-float-label{
    margin-top: 2rem;
    width: 100%;
}
textarea{
   
    width: 100%;
    height: 300px;
}
.create-questions{
    width: 100%;
}

.create-question-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.interview-questions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.interview-questions input{
    width: 500px;
}

.interview-questions p-button{
    margin-top: 2rem;
    align-self: flex-start;
}
p-messages{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

/* Media Queries */

/* Small desktops */
@media (min-width: 1000px) and (max-width: 1439px) {
    .create-interview{
        max-width: 1000px;
    }
}

/*  Landscape Tablets */
@media (min-width: 768px) and (max-width: 999px) {
    .create-interview{
        max-width: 750px;
    }
    .dashboard-charts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .chart-container, .circle {
        width: 300px; 
        height: 350px;
        margin-right: 1rem;
    }
   
}

/* Small devices (phones) */
@media (max-width: 767px) {
    .create-interview{
        max-width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dashboard-charts{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
    }
    h1{
        text-align: center;
    }
    .chart-container, .circle {
        width: 300px; 
        height: 350px;
        margin-right: 1rem;
    }
    .create-options{
        justify-content: center;
    }
    .create-interview-inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .create-question-options{
       
        justify-content: center;
       
    }
    .create-questions{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .interview-questions p-button{
       
        align-self: center;
    }
    
}
/* Extra small devices (phones) */
@media (max-width: 476px) {
    textarea{
        max-width: 400px;
    }
    .interview-questions input{
        width: 300px;
    }
}