<section>

    <div class="dashboard-content">
        <div class="dashboard-charts-wrapper">
            <h1>Dashboard</h1>

            <div class="dashboard-charts">
                <div class="chart-container">
                    <p-card header="Balance">
                        <p-chart type="bar" [data]="balance" [options]="options"></p-chart>
                    </p-card>
                </div>
                <div class="chart-container">
                    <p-card header="Created Interviews">
                        <p-chart type="line" [data]="interviews" [options]="options"></p-chart>
                    </p-card>


                </div>
                <div class="chart-container circle">
                    <p-card header="Purchased Interviews">
                        <p-chart type="polarArea" [data]="purchased" [options]="options"></p-chart>
                    </p-card>


                </div>



            </div>

        </div>


        <form class="create-interview" [formGroup]="interviewForm">
            <div class="create-options">
                <h1>Create a new interview</h1>


            </div>
            <div class="create-interview-inputs">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-pencil"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Title" formControlName="title" />
                </p-inputGroup>

                <p-inputGroup>
                    <p-inputGroupAddon>$</p-inputGroupAddon>
                    <input type="text" pInputText placeholder="Price" formControlName="price" />
                    <p-inputGroupAddon>.00</p-inputGroupAddon>
                </p-inputGroup>

                <span class="p-float-label">
                    <textarea id="float-input" rows="5" cols="30" pInputTextarea
                        formControlName="description"></textarea>
                    <label for="float-input">Description</label>
                </span>


            </div>
            <div class="create-questions">
                <div class="create-question-options">
                    <h1>Setup questions</h1>

                </div>
                <div class="interview-questions" formArrayName="questions">
                    <ng-container *ngFor="let i of createRange(value); let qIndex=index">
                        <span class="p-float-label">
                            <input pInputText [placeholder]="'Question ' + (i +  1)" formControlName="{{qIndex}}" />
                            <label [for]="'question-input-' + i">Question {{ i + 1 }}</label>
                        </span>
                    </ng-container>
                    <p-toast></p-toast>
                    <p-messages [(value)]="msgs" [showTransitionOptions]="'0s'" [hideTransitionOptions]="'0s'">
                    </p-messages>
                    <p-button (click)="submitInterview()" [disabled]="!interviewForm.valid"><i
                            class="pi pi-plus"></i>Create Interview</p-button>
                </div>


            </div>




        </form>


    </div>

</section>