section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 105vh;
    margin-top: 70px;
    
}
.dashboard-content{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    
   
}
.dashboard-charts-wrapper{
    background: linear-gradient(to bottom, #7254f3, #7b60f4, #8c74f8 );
    width: 100%;
    padding: 4rem;
   
}
.dashboard-charts-wrapper h1{
    color: white;
}

.dashboard-charts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}
.chart-container {
    width: 600px; 
    height: 400px;
    margin-right: 1rem;
}
.circle{
    width: 300px;
   
}
p-button i{
    margin-right: 1rem;
}
p-button{
    margin-bottom : 3rem;
}
h1{
    color: var(--dark-color);
    font-size: 32px;
   
}

.slider{
    width: 100%;
  
}

.create-interview{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    max-width: 1500px;

}
.create-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.create-interview-inputs{
    align-self: flex-start;
    max-width: 1500px;
    width: 100%;
}

.create-interview-inputs p-inputGroup{
    margin-top: 1rem;
    max-width: 300px;
    width: 100%;
}
.p-float-label{
    margin-top: 2rem;
    width: 100%;
}
textarea{
   
    width: 100%;
    height: 300px;
}
.create-questions{
    width: 100%;
}

.create-question-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.interview-questions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.interview-questions input{
    width: 500px;
}

.interview-questions p-button{
    margin-top: 2rem;
    align-self: flex-start;
}
p-messages{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}